@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@300,400,700&display=swap');

* {
    box-sizing:border-box;
    -webkit-tap-highlight-color: transparent;
   
}
body {
    display:flex;
    flex-direction: column;
    font-familY:'Ubuntu',sans-serif;
    gap:1em;
    font-size:1.125rem;
    font-weight:300;
}
img {
    width: 100%;
    display:block;
}
.image-full {
    max-height:300px;
    width:100%;
    object-fit:cover;
    margin-bottom:1em;
}
/* ========================= */
/* typography */
/* ========================= */

h1,
h2,
h3 {
    font-family:'Lora',serif;
    font-weight:400;
    color:#143774;
    margin-top:0;
 
}
h1 {
    font-family:'Lora',serif;
    font-weight:400;
    font-size:2rem;
    margin:0;
    padding:0;

}
h3 {
    color:#1792d2;
}
a {
    color:#1792d2;
    
}

a:hover,
a:focus {
    color:#143774;
}
strong {
    font-weight: 700;
}
header {
    background: #f8f8f8;  
}
.brand-subtitle {
    
    font-weight: 700;
    color:#1792d2;
    font-size:.75rem;
    margin:0;
    padding:0;
   
}
nav {
    font-weight:700;
    font-size:1rem;
}

.article-title {
    font-size:1.5rem;
}
.article-read-more,
.article-info {
    font-size: .875rem;
}
.article-read-more {
    color:#1792d2;
    text-decoration:none;
    font-weight: 700;
}
.article-read-more:hover,
.article-read-more:focus {
  color:#143774;
  text-decoration:underline;
}

.article-info {
    margin:2em 0;
 
}
.widget-title,
.widget-recent-post-title {
    font-size: 1rem;
}
.widget-title {
    font-size:1rem;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 700;

}
.widget-recent-post-title {
    color:#143774;
}









/* ========================= */
/* layout */
/* ========================= */

.container {
    width:90%;
    max-width:1200px;
    margin:0 auto;
}

/* navbar */
.container-nav {
 
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    padding:3em 0;
}



.brand-title {
    text-align:center;

}


ul {
    list-style:none;
    display: flex;
    padding:0;
    color:#707070;
    gap:2em;
  
    text-align:center;
}



ul li a {
    
    text-decoration:none;
    color:#707070;
    transition:all .25s;
  
}
ul li a:hover,
ul li a:focus {
    color:#1792d2;
    border-color:#1792d2;
   
}
.current {
    border-bottom:1px solid #707070;
}





/* media for navbar */
@media all and (max-width:675px){
    .container-nav{
        flex-direction:column;
        align-items: center;
    }
    .brand-subtitle{
         text-align: center;
    }
    .menu {
        flex-direction: column;
    }
}

/* navbar end */

/* body*/
.container-body {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}

@media all and (min-width:760px){
    .container-body {
        flex-direction:row;
    }
    main {
        width:70%;
    }
    aside {
        width:25%;
        min-width: 200px;
        margin-left:1em;
    }
}

/* articles */

.article-featured {
    border-bottom: 1px solid #707070;
    padding-bottom:1em;
    margin-bottom:2em;
}
.article-recent {
    display:flex;
    flex-direction:column;
    margin-bottom:2em;
 

}
.article-recent-main {
    order:2;
}
.article-recent-secondary
{
    order:1;
}
/* .article-image {
    width:100%;
    min-height:250px;
    object-fit:cover;
    object-position:left;
} */

@media all and (min-width:675px){
    .article-featured {
        display:flex;
        flex-direction: column;
    }
    .article-image {
        order:-2;
    }
    .article-info {
        order:-1;
    }

    .article-recent {
        flex-direction:row;
        justify-content: space-between;
    }
    .article-recent-main {
        width:67%;
    }
    .article-recent-secondary {
        width:30%;
    }
    
}

/* widgets */

.sidebar-widget {
    border:20px solid #efefef;
    margin-bottom:2em;
    padding:1em;
}

.widget-recent-post {
    display:flex;
    flex-direction: column;
    border-bottom:1px solid #707070;
    margin-bottom: 1em;
}

.widget-recent-post:last-child {
    border:0;
    margin:0;
}
.widget-image {
    order:-1;

}


/* footer */

footer {
    background:#143774;
    color:white;
    text-align:center;
    padding:3em 0;
}


/* 
about me page 
 */


